@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
}


/* navbar part start */

.navbar-container {
    padding: 50px 150px;
}

nav ul li {
    font-size: 28px;
    font-weight: 800;
    list-style: none;
}

.nav-content {
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    opacity: 0.7;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #FD6E0A;
    color: black;
    opacity: 1;
}


/* banner part start */

.banner-container {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-img img {
    margin-top: 50px;
}

.banner-title {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
}

.banner-desc {
    font-size: 20px;
    opacity: 0.8;
    margin-top: 40px;
}

.banner-btn {
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    color: white;
    padding: 21px 24px;
    border-radius: 8px;
    margin-top: 50px;
    cursor: pointer;
}

.banner-btn:hover {
    background-color: #FD6E0A;
    color: black;
    opacity: 1;
}